<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row searchRow">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <input (keyup.enter)='getEmails()' [(ngModel)]='searchText' type="text" class="form-control" placeholder="Global search...">
                <span class="input-group-btn">
                    <button (click)='getEmails()' class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-filter"></i></button>
                </span>
                <input [(ngModel)]='filterBy' type="text" class="form-control" placeholder="Filter by subject...">
            </div><!-- /input-group -->
        </div>
    </div>
  </div>
  <!-- Table -->
  <div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>Sender</th>
                <th>Subject</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody *ngIf='pagedItems && pagedItems.length'>
            <tr *ngFor='let email of pagedItems | EmailFilter: filterBy'>
                <td>{{email._source.sender}}</td>
                <td>{{email._source.subject}}</td>
                <td><a [routerLink]="['/emails', email._id]">{{email._source.text | TextSummary:0:70}}</a></td>
                <td>{{email._source.date | date:medium}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="panel-footer cpager" *ngIf='pagedItems && pagedItems.length'>
      <ul *ngIf="pager" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)"><i class="glyphicon glyphicon-triangle-left"></i></a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)"><i class="glyphicon glyphicon-triangle-right"></i></a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
     </ul>
  </div>
</div>